@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #15bde7 0%, #aa9ee0 100%);
}

.wrapper {
  margin: 120px auto;
  max-width: 400px;
  width: 100%;
  background: rgb(221, 234, 240);
  border-radius: 5px;
  padding: 25px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.wrapper .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li span {
  position: absolute;
  right: -45px;
  transition: all 0.3s ease;
  opacity: 0;
}

.todoList li:hover span {
  opacity: 1;
  right: 0;
}

.todoList li span button {
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  background: rgb(221, 132, 132);
}

.inputField input {
  width: 85%;
  height: 100%;
  outline: none;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button {
  font-weight: 600;
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  background: rgb(78, 113, 228);
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  opacity: 0.6;
  pointer-events: none;
}

.inputField button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper .footer {
  display: flex;
  widows: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapper .footer button {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background: rgb(191, 211, 16);
  opacity: 0.6;
  pointer-events: none;
}

.wrapper .footer button.active {
  opacity: 1;
  pointer-events: auto;
}

/* Checked input */

.container {
}

.wrapper_inner {
  background: #fff;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding-bottom: 5px;
}

.form {
  width: 20%;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.form .formInput {
  height: 100%;
  width: 100%;
  color: #677eb6;
  font-size: 20px;
  padding-top: 20px;
  border: none;
  outline: none;
}

.form label {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #000;
}

.form label::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  height: 100%;
  border-bottom: 3px solid #677eb6;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #677eb6;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}
